@font-face {
    font-family: "Roboto";
    /* font-weight: bold; */
    src: url("/fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url("../fonts/PT_Sans-Web-Italic.ttf") format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url("../fonts/PT_Sans-Web-BoldItalic.ttf") format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url("../fonts/PT_Sans-Web-Regular.ttf") format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url("../fonts/PT_Sans-Web-Bold.ttf") format('woff2');
}

@font-face {
    font-family: "DINPro";
    src: url("../fonts/DIN%20Bold.ttf") format("woff");
}

.fc-blue {
    color: #32496d;
}

.fc-white {
    color: white;
}

.fc-orange{
    color: #d45a5f;
}

h2 {
  display: block;
  font-family: "Roboto";
  font-size: 2.3em;
  color: #2f6ca3;
  line-height: 0.9em;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  margin: 0;
}

h3 {
  font-family: initial;
  font-size: 4.5em;
  color: #2f6ca3;
  font-weight: bold;
}

h5 {
  font-size: 1.5em;
  color: #32496d;
  font-weight: bold;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}


.slick-slide img {
    width: 100%;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        max-width: 1170px;
    }
}

body {
    background: #ffffff;
    font-family: "PT Sans";
}

ul {
    list-style-type: none;
}

a:hover {
  text-decoration: none;
}

span.big-title {
    /*font-size: 2.5em;*/
    font-weight: bold;
    color: #32496d;
}

.btn-danger {
    background-color: #d65e63;
}

.btn-primary {
    background-color: #6598ee;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts .phone{
  font-size: 1.9em;
}
.contacts .chats a{
  margin-right: 0.4em;
}
.contacts .chats a img {
  /* width: 50px; */
}

/* END COMMON STYLES */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo{
  width: 15em;
}
.header .logo img{
  width: 100%;
}
.header .phone {
  font-size: 1.2em;
  color: #d45a5f;
  text-align: right;
}
.header .phone a{
  color: #d45a5f;
  text-decoration: none;
}
.header .contacts-icons{
  padding: 1em 0.5em 0 0;
}

.box-1 {
  background-image: url(../img/nevskiy/box-1-bg.png);
  background-repeat: no-repeat;
  /* background-color: #f0f0f0; */
  /* padding-bottom: 180px; */
  background-size: 100%;
  background-position: center center;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 90%, 0 100%);
}

.box-1 h1.title {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5em 0 5em 0;
}
.box-1 h1.title span{
    font-size: 3em;
}

/* BOX 3 */
.box-3 {
  background-color: white;
}
.box-3 a {
  text-decoration: none;
}
.box-3 .office-block{
  position: relative;
  border: 1px solid #f3f3f3;
  margin-right: 0.5em;
}
.box-3 .office-block:hover {
  box-shadow: 0 0 15px #ababab;
}
.box-3 .title{
  position: absolute;
  text-align: center;
}
.box-3 .title:hover{
  font-size: 1.1em;
}
.box-3 .address{
  font-weight: bold;
}
.box-3 .address-block{
  margin-top: 6em;
  text-align: center;
}
.box-3 .address-block .address,
.box-3 .address-block .timetable {
  color: black;
}
.box-3 .metro{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-3 .metro-icon{
  margin-right: 0.5em;
  width: 1.5em;
}
.box-3 .metro-name{
  font-family: "Roboto";
  color: #2f6ca3;
}
.box-3 .timetable {
  text-align: right;
  margin-right: 3em;
}
.box-3 .region-img img{
  width: 100%;
}
.box-3 .office-img{
  position: absolute;
  top: -5%;
  left: 60%;
  width: 45%;
  display: block;
  clip-path: circle(50% at 50% 50%);
  margin: 0;
}

/* BOX-4 */

.box-4 {
  background-position: top center;
  background-image: url(../img/nevskiy/box-4-bg.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 90%, 0 100%);
}
.box-4 .form {
    padding: 30px;
    background-color: #eaeef2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.box-4 .form .block {
    width: 100%;
    margin-bottom: 15px;

}

.box-4 .form .block label {
    width: 100%;
    font-size: 0.9em;
    color: #6a6a6a;
}

.box-4 .form .block label span {
    padding-bottom: 10px;
    display: block;
}

.box-4 .form .block label input,
.box-4 .form .block label select,
.box-4 .form .block label textarea {
    width: 100%;
    padding: 8px;
    display: inline-block;
}

.box-4 .btn-big {
    font-size: 1.1em;
    padding: 10px 100px;
}
@media (min-width: 1200px) {
  .box-4{
    background-size: 100%;
  }
}

/* BOX-6  */

.box-6 {
    background-color: white;
}

/* BOX 7 */

.box-7 {
    background: #32496d;
}

.box-7 a.link {
    color: white;
}



/* baloon styels */
.bal_content{
  display: inline-block;
}
.bal_info{
  display: inline-block;
}
.bal_content .bal_info h2{
  font-size: 1rem;
}
.bal_img{
  display: inline-block;
  vertical-align: bottom;
}
.bal_img img{
  height: 140px;
  max-width: 140px;
  object-fit: cover;
  padding: 10px;
}

/* segment styles from 991px up to 1199px */
@media (max-width: 1199px) and (min-width: 992px) {

}

/* segment styles up to 991px */
@media (max-width: 991px) {
    body {
        font-size: 2em;
    }

    h3 {
        font-size: 2.5em;
        color: #32496d;
        font-weight: bold;
    }

    h5 {
    font-size: 1.0em;
    }
}

@-moz-document url-prefix() {
  .carousel-inner{
      min-height: 100%;
      max-height: inherit;
      display: flex;
  }
}
